<% if (theme.valine.enable && post.comments) { %>
<div id="vcomments"></div>
<style> 
    #vcomments textarea {
        background: url("<%- url_for(theme.valine.background) %>") 100% 100% no-repeat;
    }
</style>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.valine.v_appId %>",
        appKey: "<%= theme.valine.v_appKey %>",
        path: window.location.pathname,
        placeholder: "你是我一生只会遇见一次的惊喜 ..."
      })
  }
</script>
<% } %>